<div class="container">
 <p><%= @nickname %>さんの投稿一覧</p>
 <p>好きな数字<%= @like_num %></p>
    <% @tweets.each do |tweet| %>
     <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
    <% end %>
          <%= paginate(@tweets) %>
    </div>
</div>

