#big3{
  height: 100vh;
}
#benchpress{
  background-image: url('benchpress.jpg');
  background-size: 100%;
}
#deadlift{
  background-image: url('deadlift.jpg');
  background-size: 100%;
}
#squat{
  background-image: url('squat.jpg');
  background-size: 100%;
}
p{
  word-break: break-word;
}
#recommend_user{
  height: 200px;
}

.material-icons.middle-size{
  font-size: 30px;

}
.like{
  font-size: 16px;
  color:yellowgreen;
}